* {
    font-family: "Gill Sans", sans-serif;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
h1 {
    color: #020000;
    font-size: 70px;

}
hr{
    width:100%;
    text-align:left;"
}
p {
    color: #000000;
    font-size: 20px;
}
